.section-title_theme_dark {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 90px;
  color: white;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}
