.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  padding-left: 48px;
  color: #2f80ed;
  opacity: 1;
}

.khan__buy-link:hover {
  transition: opacity 1s;
  opacity: .5;
}
